/********      App       ********/

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/********      Hero      ********/
.hero {
	background: lightsalmon;
	height: 100vh;
}

/* .hero__contents {} */

/******** Portfolio Grid ********/
.portfolio {
	background: lightgreen;
}

/********   Info Block   ********/

.info-block {
	background: lightyellow;
}

/********      About     ********/

.about {
	background: pink;
	height: 40vh;
}

/********     Contact    ********/

.contact {
	background: lightblue;
	height: 40vh;
}
