/********      App       ********/

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/********      Hero      ********/
.hero {
	background: lightsalmon;
	height: 100vh;
}

/* .hero__contents {} */

/******** Portfolio Grid ********/
.portfolio {
	background: url("../../images/background.png");
	padding: 5em 0;
	position: relative;
}

/* Portfolio Main */

/* Portfolio Grid Items */
.port-grid {
	width: 80%;
	margin: 0 auto;
	/* position: relative; */
}

.port-item {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 20em;
	height: 18vw;
	/* height: 20em; */
}

.port-item__image {
	/* background: rgb(255, 92, 92); */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.port-item__overlay {
	position: absolute;
	background: rgba(109, 243, 243, 0.7);
	top: 150%;
	right: 0;
	bottom: 0;
	left: 0;
	transition: top 250ms ease-in-out;
}

.port-item__dummy-overlay {
	position: absolute;
	background: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.port-item__dummy-overlay--show {
	opacity: 1;
}

.port-item:hover .port-item__overlay,
.port-item:focus .port-item__overlay {
	top: 0;
}

/* Portfolio Content Placeholder */

.port-content__placeholder {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	/* width: calc(100% + 5px); */
	/* height: calc(100vh + 5px); */
	/* z-index: 100; */
	top: 0;
	left: 0;
	background: #fff;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.port-content__placeholder.placeholder--trans-in {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(
		0.165,
		0.84,
		0.44,
		1
	);
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.port-content__placeholder.placeholder--trans-out {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
/* Portfolio Content */
.port-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	height: 0;
	/* Avoid second scroll bar in Chrome! */
	visibility: hidden;
	z-index: 400;
	overflow: hidden;
}
.port-content.port-content--show {
	height: 100vh;
	pointer-events: auto;
	visibility: visible;
}
.port-content__item {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	padding: 60px 60px 80px 60px;
	pointer-events: none;
	font-size: 0.85em;
}
.port-content__item.port-content__item--show {
	height: auto;
	min-height: 100vh;
	opacity: 1;
	pointer-events: auto;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
/* Portfolio Content Close Button */
.close-button {
	position: absolute;
	border: none;
	background: none;
	margin: 0;
	z-index: 100;
	top: 0;
	right: 0;
	font-size: 18px;
	color: #ddd;
	cursor: pointer;
	pointer-events: none;
	padding: 20px 30px;
	opacity: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.close-button span {
	display: none;
}
.close-button:hover {
	color: #7b7b7b;
}
.close-button--show {
	opacity: 1;
	pointer-events: auto;
}
/********   Info Block   ********/
.info-block {
	background: lightyellow;
}

/********      About     ********/
.about {
	background: pink;
	min-height: 17.5em;
	height: 40vh;
}
/********     Contact    ********/
.contact {
	background: lightblue;
	min-height: 17.5em;
	height: 40vh;
}
